parameters:
	ignoreErrors:
		-
			message: "#^Call to static method array\\(\\) on an unknown class NetherGames\\\\Quiche\\\\bindings\\\\uint8_t_ptr\\.$#"
			count: 1
			path: src/NetherGames/Quiche/Config.php

		-
			message: "#^Cannot call method getData\\(\\) on array\\<int, int\\>\\.$#"
			count: 1
			path: src/NetherGames/Quiche/Config.php

		-
			message: "#^Parameter \\#1 \\$to of static method FFI\\:\\:memcpy\\(\\) expects FFI\\\\CData, \\(float\\|int\\) given\\.$#"
			count: 1
			path: src/NetherGames/Quiche/Config.php

		-
			message: "#^Call to method deref\\(\\) on an unknown class NetherGames\\\\Quiche\\\\bindings\\\\uint8_t_ptr_ptr\\.$#"
			count: 1
			path: src/NetherGames/Quiche/QuicheConnection.php

		-
			message: "#^Call to method toString\\(\\) on an unknown class NetherGames\\\\Quiche\\\\bindings\\\\uint8_t_ptr\\.$#"
			count: 2
			path: src/NetherGames/Quiche/QuicheConnection.php

		-
			message: "#^Call to static method array\\(\\) on an unknown class NetherGames\\\\Quiche\\\\bindings\\\\uint8_t_ptr\\.$#"
			count: 2
			path: src/NetherGames/Quiche/QuicheConnection.php

		-
			message: "#^Call to static method array\\(\\) on an unknown class NetherGames\\\\Quiche\\\\bindings\\\\uint8_t_ptr_ptr\\.$#"
			count: 1
			path: src/NetherGames/Quiche/QuicheConnection.php

		-
			message: "#^Parameter \\#1 \\$socketAddress of static method NetherGames\\\\Quiche\\\\SocketAddress\\:\\:createFromFFI\\(\\) expects NetherGames\\\\Quiche\\\\bindings\\\\struct_sockaddr_storage, NetherGames\\\\Quiche\\\\bindings\\\\struct_sockaddr_ptr given\\.$#"
			count: 10
			path: src/NetherGames/Quiche/QuicheConnection.php

		-
			message: "#^Parameter \\#5 \\$retire_if_needed of method NetherGames\\\\Quiche\\\\bindings\\\\QuicheFFI\\:\\:quiche_conn_new_scid\\(\\) expects int, false given\\.$#"
			count: 1
			path: src/NetherGames/Quiche/QuicheConnection.php

		-
			message: "#^Parameter \\$tempBuffer of method NetherGames\\\\Quiche\\\\QuicheConnection\\:\\:__construct\\(\\) has invalid type NetherGames\\\\Quiche\\\\bindings\\\\uint8_t_ptr\\.$#"
			count: 1
			path: src/NetherGames/Quiche/QuicheConnection.php

		-
			message: "#^Property NetherGames\\\\Quiche\\\\QuicheConnection\\:\\:\\$scidRetirePtr has unknown class NetherGames\\\\Quiche\\\\bindings\\\\uint8_t_ptr_ptr as its type\\.$#"
			count: 1
			path: src/NetherGames/Quiche/QuicheConnection.php

		-
			message: "#^Property NetherGames\\\\Quiche\\\\QuicheConnection\\:\\:\\$tempBuffer has unknown class NetherGames\\\\Quiche\\\\bindings\\\\uint8_t_ptr as its type\\.$#"
			count: 1
			path: src/NetherGames/Quiche/QuicheConnection.php

		-
			message: "#^Undefined variable\\: \\$code$#"
			count: 2
			path: src/NetherGames/Quiche/QuicheConnection.php

		-
			message: "#^Undefined variable\\: \\$from$#"
			count: 2
			path: src/NetherGames/Quiche/QuicheConnection.php

		-
			message: "#^Undefined variable\\: \\$fromLength$#"
			count: 1
			path: src/NetherGames/Quiche/QuicheConnection.php

		-
			message: "#^Undefined variable\\: \\$id$#"
			count: 2
			path: src/NetherGames/Quiche/QuicheConnection.php

		-
			message: "#^Undefined variable\\: \\$isApp$#"
			count: 2
			path: src/NetherGames/Quiche/QuicheConnection.php

		-
			message: "#^Undefined variable\\: \\$length$#"
			count: 2
			path: src/NetherGames/Quiche/QuicheConnection.php

		-
			message: "#^Undefined variable\\: \\$localLength$#"
			count: 5
			path: src/NetherGames/Quiche/QuicheConnection.php

		-
			message: "#^Undefined variable\\: \\$oldLocal$#"
			count: 2
			path: src/NetherGames/Quiche/QuicheConnection.php

		-
			message: "#^Undefined variable\\: \\$oldLocalLength$#"
			count: 1
			path: src/NetherGames/Quiche/QuicheConnection.php

		-
			message: "#^Undefined variable\\: \\$oldPeer$#"
			count: 2
			path: src/NetherGames/Quiche/QuicheConnection.php

		-
			message: "#^Undefined variable\\: \\$oldPeerLength$#"
			count: 1
			path: src/NetherGames/Quiche/QuicheConnection.php

		-
			message: "#^Undefined variable\\: \\$peerLength$#"
			count: 5
			path: src/NetherGames/Quiche/QuicheConnection.php

		-
			message: "#^Undefined variable\\: \\$reason$#"
			count: 2
			path: src/NetherGames/Quiche/QuicheConnection.php

		-
			message: "#^Undefined variable\\: \\$reasonLength$#"
			count: 2
			path: src/NetherGames/Quiche/QuicheConnection.php

		-
			message: "#^Undefined variable\\: \\$seq$#"
			count: 5
			path: src/NetherGames/Quiche/QuicheConnection.php

		-
			message: "#^Undefined variable\\: \\$to$#"
			count: 2
			path: src/NetherGames/Quiche/QuicheConnection.php

		-
			message: "#^Undefined variable\\: \\$toLength$#"
			count: 1
			path: src/NetherGames/Quiche/QuicheConnection.php

		-
			message: "#^Variable \\$length in PHPDoc tag @var does not exist\\.$#"
			count: 1
			path: src/NetherGames/Quiche/QuicheConnection.php

		-
			message: "#^Variable \\$local might not be defined\\.$#"
			count: 10
			path: src/NetherGames/Quiche/QuicheConnection.php

		-
			message: "#^Variable \\$peer might not be defined\\.$#"
			count: 10
			path: src/NetherGames/Quiche/QuicheConnection.php

		-
			message: "#^Call to static method castFrom\\(\\) on an unknown class NetherGames\\\\Quiche\\\\bindings\\\\uint8_t_ptr\\.$#"
			count: 1
			path: src/NetherGames/Quiche/SocketAddress.php

		-
			message: "#^Parameter \\#2 \\$from of static method FFI\\:\\:memcpy\\(\\) expects FFI\\\\CData\\|string, string\\|false given\\.$#"
			count: 2
			path: src/NetherGames/Quiche/SocketAddress.php

		-
			message: "#^Call to method toString\\(\\) on an unknown class NetherGames\\\\Quiche\\\\bindings\\\\uint8_t_ptr\\.$#"
			count: 5
			path: src/NetherGames/Quiche/socket/QuicheServerSocket.php

		-
			message: "#^Call to static method array\\(\\) on an unknown class NetherGames\\\\Quiche\\\\bindings\\\\uint8_t_ptr\\.$#"
			count: 3
			path: src/NetherGames/Quiche/socket/QuicheServerSocket.php

		-
			message: "#^Parameter \\$dcid of method NetherGames\\\\Quiche\\\\socket\\\\QuicheServerSocket\\:\\:createConnection\\(\\) has invalid type NetherGames\\\\Quiche\\\\bindings\\\\uint8_t_ptr\\.$#"
			count: 1
			path: src/NetherGames/Quiche/socket/QuicheServerSocket.php

		-
			message: "#^Parameter \\$scid of method NetherGames\\\\Quiche\\\\socket\\\\QuicheServerSocket\\:\\:createConnection\\(\\) has invalid type NetherGames\\\\Quiche\\\\bindings\\\\uint8_t_ptr\\.$#"
			count: 1
			path: src/NetherGames/Quiche/socket/QuicheServerSocket.php

		-
			message: "#^Parameter \\$token of method NetherGames\\\\Quiche\\\\socket\\\\QuicheServerSocket\\:\\:createConnection\\(\\) has invalid type NetherGames\\\\Quiche\\\\bindings\\\\uint8_t_ptr\\.$#"
			count: 1
			path: src/NetherGames/Quiche/socket/QuicheServerSocket.php

		-
			message: "#^Undefined variable\\: \\$version$#"
			count: 2
			path: src/NetherGames/Quiche/socket/QuicheServerSocket.php

		-
			message: "#^Variable \\$type might not be defined\\.$#"
			count: 2
			path: src/NetherGames/Quiche/socket/QuicheServerSocket.php

		-
			message: "#^Call to an undefined method FFI\\:\\:quiche_enable_debug_logging\\(\\)\\.$#"
			count: 1
			path: src/NetherGames/Quiche/socket/QuicheSocket.php

		-
			message: "#^Call to an undefined method NetherGames\\\\Quiche\\\\socket\\\\QuicheSocket\\:\\:readSocket\\(\\)\\.$#"
			count: 1
			path: src/NetherGames/Quiche/socket/QuicheSocket.php

		-
			message: "#^Call to static method array\\(\\) on an unknown class NetherGames\\\\Quiche\\\\bindings\\\\uint8_t_ptr\\.$#"
			count: 1
			path: src/NetherGames/Quiche/socket/QuicheSocket.php

		-
			message: "#^Offset string does not exist on array\\<int, int\\>\\.$#"
			count: 1
			path: src/NetherGames/Quiche/socket/QuicheSocket.php

		-
			message: "#^Property NetherGames\\\\Quiche\\\\socket\\\\QuicheSocket\\:\\:\\$tempBuffer has unknown class NetherGames\\\\Quiche\\\\bindings\\\\uint8_t_ptr as its type\\.$#"
			count: 2
			path: src/NetherGames/Quiche/socket/QuicheSocket.php

		-
			message: "#^Undefined variable\\: \\$path$#"
			count: 2
			path: src/NetherGames/Quiche/stats/QuichePathStats.php

		-
			message: "#^Variable \\$path in PHPDoc tag @var does not exist\\.$#"
			count: 1
			path: src/NetherGames/Quiche/stats/QuichePathStats.php

		-
			message: "#^Undefined variable\\: \\$stats$#"
			count: 2
			path: src/NetherGames/Quiche/stats/QuicheStats.php

		-
			message: "#^Variable \\$stats in PHPDoc tag @var does not exist\\.$#"
			count: 1
			path: src/NetherGames/Quiche/stats/QuicheStats.php

		-
			message: "#^Call to method toString\\(\\) on an unknown class NetherGames\\\\Quiche\\\\bindings\\\\uint8_t_ptr\\.$#"
			count: 1
			path: src/NetherGames/Quiche/stream/BiDirectionalQuicheStream.php

		-
			message: "#^Parameter \\$tempBuffer of method NetherGames\\\\Quiche\\\\stream\\\\BiDirectionalQuicheStream\\:\\:__construct\\(\\) has invalid type NetherGames\\\\Quiche\\\\bindings\\\\uint8_t_ptr\\.$#"
			count: 1
			path: src/NetherGames/Quiche/stream/BiDirectionalQuicheStream.php

		-
			message: "#^Property NetherGames\\\\Quiche\\\\stream\\\\BiDirectionalQuicheStream\\:\\:\\$tempBuffer has unknown class NetherGames\\\\Quiche\\\\bindings\\\\uint8_t_ptr as its type\\.$#"
			count: 1
			path: src/NetherGames/Quiche/stream/BiDirectionalQuicheStream.php

		-
			message: "#^Undefined variable\\: \\$fin$#"
			count: 2
			path: src/NetherGames/Quiche/stream/BiDirectionalQuicheStream.php

		-
			message: "#^Undefined variable\\: \\$outErrorCode$#"
			count: 3
			path: src/NetherGames/Quiche/stream/BiDirectionalQuicheStream.php

		-
			message: "#^Call to method toString\\(\\) on an unknown class NetherGames\\\\Quiche\\\\bindings\\\\uint8_t_ptr\\.$#"
			count: 1
			path: src/NetherGames/Quiche/stream/ReadableQuicheStream.php

		-
			message: "#^Parameter \\$tempBuffer of method NetherGames\\\\Quiche\\\\stream\\\\ReadableQuicheStream\\:\\:__construct\\(\\) has invalid type NetherGames\\\\Quiche\\\\bindings\\\\uint8_t_ptr\\.$#"
			count: 1
			path: src/NetherGames/Quiche/stream/ReadableQuicheStream.php

		-
			message: "#^Property NetherGames\\\\Quiche\\\\stream\\\\ReadableQuicheStream\\:\\:\\$tempBuffer has unknown class NetherGames\\\\Quiche\\\\bindings\\\\uint8_t_ptr as its type\\.$#"
			count: 1
			path: src/NetherGames/Quiche/stream/ReadableQuicheStream.php

		-
			message: "#^Undefined variable\\: \\$fin$#"
			count: 2
			path: src/NetherGames/Quiche/stream/ReadableQuicheStream.php

		-
			message: "#^Undefined variable\\: \\$outErrorCode$#"
			count: 1
			path: src/NetherGames/Quiche/stream/ReadableQuicheStream.php

		-
			message: "#^Undefined variable\\: \\$outErrorCode$#"
			count: 2
			path: src/NetherGames/Quiche/stream/WriteableQuicheStream.php
